.main {
  background-color: gray;
}
.bmain {
  height: 100%;
  position: relative;
  left: 50%;
}
.autorez {
  text-align: right;
  position: relative;
  right: 8%;
}

.autorez a {
  text-decoration: none;
  color: rebeccapurple;
}
.hide {
  display: flex;
  position: relative;
  left: 90%;
  margin-bottom: 10px;
}
.btn {
  position: relative;
  right: 0.6%;
  width: 60px;
}
.reserve {
  position: relative;
  top: 150px;
}
.txt {
  font-size: 12px;
  position: relative;
  right: 10px;
  bottom: 2px;
}
.check {
  position: relative;
  right: 6px;
}
img {
  width: 350px;
}
.scand {
  position: relative;
  bottom: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.zag {
  font-style: oblique;
}
.names {
  text-align: right;
  position: relative;
  right: 2%;
  bottom: 100px;
}
aside {
  position: relative;
  top: 100px;
}
section {
  position: relative;
  bottom: 200px;
  right: 4%;
  text-align: right;
}
footer {
  position: relative;
  top: 100px;
  width: 100%;
  height: 150px;
  background-color: rgb(26, 24, 24);
}
footer ul a {
  color: #fff;
  position: relative;
  top: 25px;
  text-decoration: none;
  list-style: none;
}
footer li {
  padding-bottom: 5px;
}
.side {
  display: inline-block;
  width: 200px;
  margin: 20px;
}
.menu a {
  display: block;
  background-color: #3d3d3d;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-bottom: 1px solid #666;
  transition: 0.5s all;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu a:hover {
  background-color: #666;
  padding: 10px 0 10px 20px;
}
.menu li:first-child a,
.menu li .menu__pod li:first-child a {
  border-radius: 3px 3px 0 0;
}
.menu li .menu__pod li a {
  border-radius: 0;
}
.menu__list {
  position: relative;
}
.menu__pod {
  position: absolute;
  width: 100%;
  left: 100%;
  top: -9999em;
  opacity: 0;
  border-left: 10px solid transparent;
}
.menu__pod__pod {
  position: absolute;
  width: 100%;
  left: 100%;
  top: -9999em;
  opacity: 0;
  border-left: 10px solid transparent;
}
.menu__list:hover .menu__pod {
  opacity: 1;
  top: 0;
}
.menu__pod:hover .menu__pod__pod {
  opacity: 1;
  top: 0;
}
.menu__list::after {
  content: " ";
  position: absolute;
  border: 5px solid;
  border-color: transparent transparent transparent #fff;
  top: 1em;
  right: 0.7em;
  transition: 0.5;
}
.menu__list:hover::after {
  transform: scaleX(-1);
}
input {
  display: none;
}
.button {
  padding: 10px;

  text-transform: uppercase;

  text-align: center;

  color: #ff0;

  background-color: #fc2c00;
}
.text {
  position: relative;

  width: 40%;

  height: 25%;

  margin-top: 5%;

  margin-left: 20%;

  padding: 20px 20px 5px;

  background-color: #ff0;
}
.sect {
  width: 100%;

  position: fixed;

  right: 100%;
}
.modal__close {
  position: absolute;

  z-index: 2;

  top: 5px;

  right: 5px;

  width: 25px;

  border-radius: 50%;

  font-size: 36px;

  line-height: 25px;

  text-align: center;
}
input:checked + .sect {
  right: 0;
  bottom: 70%;
}
.test {
  position: relative;
  left: 42%;
}
